.video-page-main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
}

.video-page-video-section {
  height: 70%;
  width: 100%;
  overflow-y: auto;
}

.video-description-accordion {
  height: 30%;
  width: 100%;
  overflow-y: auto;
  background-color: #dddddd !important;
}
