.interactive-card {
  border-bottom: solid;
  border-bottom-width: 10px;
  border-radius: 8px;
}

.interactive-card:active {
  transform: translateY(7px);
  transition: 0.05s;
  border-bottom-width: 3px;
  border-radius: 8px;
}
