.video-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

.video-item-divider {
  margin-top: 5% !important;
  margin-bottom: 5% !important;
}
